@import "~normalize.css/normalize.css"

$primary-color: #1DA1F2
$alt-primary-color: #70c9f8
$black: #14171A
$dark-gray: #657786
$gray: #AAB8C2
$light-gray: #E1E8ED
$extra-light-gray: #F5F8FA
$white: #FFFFFF
$red: #DC2626
$header-height: 60px
$footer-height: 30px

// hamburger menu variables
$bar-width: 30px
$bar-height: 5px
$hamburger-gap: 3px
$foreground: #F5F8FA
$hamburger-margin: 40px
$animation-timing: 0.2s ease-in-out
$hamburger-height: calc(($bar-height * 3) + ($hamburger-gap * 2))
$x-width: calc($hamburger-height * 1.41421356237)
  
*
  box-sizing: border-box
  -webkit-box-sizing: border-box

body
  height: 100vh
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  font-family: 'Noto Sans JP', sans-serif
  
h1, h2, h3
  font-family: 'Sono', sans-serif
  margin: 0

/* Header */ 
.header
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  background: $alt-primary-color
  padding: 0 20px
  height: $header-height
  
.hamburger-menu-container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.hamburger-menu
  display: none
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  gap: $hamburger-gap
  width: -webkit-max-content
  width: -moz-max-content
  width: max-content
  position: absolute
  left: $hamburger-margin
  z-index: 2
  cursor: pointer

.hamburger-menu
  &::before,
  &::after,
  input
    content: ""
    width: $bar-width
    height: $bar-height
    background-color: $foreground
    border-radius: 9999px
    -webkit-transform-origin: left center
    -ms-transform-origin: left center
    transform-origin: left center
    -webkit-transition: opacity $animation-timing, width $animation-timing, background-color $animation-timing, -webkit-transform $animation-timing
    transition: opacity $animation-timing, width $animation-timing, background-color $animation-timing, -webkit-transform $animation-timing
    -o-transition: opacity $animation-timing, width $animation-timing, transform $animation-timing, background-color $animation-timing
    transition: opacity $animation-timing, width $animation-timing, transform $animation-timing, background-color $animation-timing
    transition: opacity $animation-timing, width $animation-timing, transform $animation-timing, background-color $animation-timing, -webkit-transform $animation-timing

  input
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    padding: 0
    margin: 0
    outline: none
    pointer-events: none

  &:has(input:checked)::before 
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)
    width: $x-width
    translate: 0 calc($bar-height / -2)

  &:has(input:checked)::after 
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)
    width: $x-width
    translate: 0 calc($bar-height / 2)

  input:checked 
    opacity: 0
    width: 0

.logo-container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

  img
    margin-right: 10px
    height: 40px

  p
    color: $black
    font-size: 2rem
    font-family: 'Comfortaa', sans-serif
    font-weight: 600
    padding: 0
    margin: 0
  
  span
    color: $white

/* Main */
.main 
  display: -ms-grid
  display: grid
  -ms-grid-columns: (1fr)[12]
  grid-template-columns: repeat(12, 1fr)

/* Main -> Sidebar */  
.sidebar
  -ms-grid-column: 1
  -ms-grid-column-span: 3
  grid-column: 1 / 4
  display: block
  background: $extra-light-gray
  height: calc((100vh - $header-height) - $footer-height)
  padding: 15px 15px 30px
  overflow-y: scroll
  z-index: 9999
  -webkit-transition: translate $animation-timing
  -o-transition: translate $animation-timing
  transition: translate $animation-timing

  h2
    display: block
    border-bottom: $gray solid 2px
    padding-bottom: 10px
    margin-top: 10px 

/* Sidebar -> Menu Btns */ 
.sidebar-btns-container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  gap: 5px
  margin: 10px 0

  div
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: start
    -ms-flex-pack: start
    justify-content: flex-start
    background: transparent
    border: none
    padding: 10px
    width: 100%
    letter-spacing: 1px
    -webkit-transition: .3s
    -o-transition: .3s
    transition: .3s
    cursor: pointer

    &:focus 
      outline: none

    &:hover
      background: $light-gray
      border-radius: 10px
      scale: 1.05
      
    &:active
      scale: 1
      -webkit-transition: .1s
      -o-transition: .1s
      transition: .1s

    i
      margin-right: 10px

    .fa-star 
      color: #eab308

    .fa-inbox
      color:#06b6d4

    .fa-calendar-day
      color:#fb7185

    .fa-calendar-week
      color:#8b5cf6

    .fa-calendar-check
      color:#059669

/* Sidebar -> Projects */ 
.add-project-btn-container,
.add-task-btn-container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  width: 100%
  margin: 10px 0

  & > button
    width: 100%
    padding: 10px
    background: transparent
    border: $gray dashed 2px
    border-radius: 5px
    -webkit-transition: .2s
    -o-transition: .2s
    transition: .2s
    cursor: pointer

    &:focus 
      outline: none

    &:hover
      background: $extra-light-gray
      border-color: $primary-color
      border-radius: 10px
      scale: 1.03
      
    &:active
      scale: 1
      -webkit-transition: .1s
      -o-transition: .1s
      transition: .1s

.project-container
  margin-top: 15px 

  i
    pointer-events: none

/* Projects -> Project Item 
.project-item
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 100%
  background: $light-gray
  border-radius: 10px
  margin: 10px 0
  padding: 10px 10px 10px 15px
  cursor: pointer
  letter-spacing: 1px

  p, 
  .project-info
    pointer-events: none

/* Project Item -> Project Info */
.project-info
  width: 90%
  p
    margin: 0
    line-height: 1.5rem
    white-space: nowrap
    overflow: hidden
    -o-text-overflow: ellipsis
    text-overflow: ellipsis

/* Project Item -> PopUp Menu */
.project-menu
  margin-left: auto

  & > button
    cursor: pointer
    background: transparent
    border: none

    &:focus 
      outline: none

    &:hover
      color: $primary-color
      -webkit-transition: .2s
      -o-transition: .2s
      transition: .2s
      scale: 1.2

.project-popup-menu
  visibility: visible
  position: absolute
  display: none
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  padding: 5px
  gap: 5px
  border-radius: 5px
  background: $light-gray
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

  button
    display: block  
    width: 100%
    background: transparent 
    border: none
    border-radius: 5px
    padding: 5px
    cursor: pointer

    &:hover
      background: $extra-light-gray
      color: $primary-color

    & > *
      pointer-events: none

.popup-active
  display: -webkit-box
  display: -ms-flexbox
  display: flex

/* Style Sidebar Category/Project Cards if selected */
.selected-category,
.selected-project
  font-weight: 600
  scale: 1.05

.selected-category
  background: $light-gray

.selected-project
  border-left: $primary-color solid 5px

/* Main -> Container*/  
.main-container
  -ms-grid-column: 4
  -ms-grid-column-span: 9
  grid-column: 4 / 13
  height: calc((100vh - $header-height) - $footer-height)
  overflow-y: scroll
  padding: 15px
  margin: 0

  h2
    margin: 10px 0 20px
    text-align: center

/* Container -> Add New Task Btn */ 
/* Styled above with add new project btn */
.add-task-btn-container
  margin-bottom: 15px

  & > button
    &:hover  
      scale: 1.01
      
    &:active
      scale: 1
      -webkit-transition: .1s
      -o-transition: .1s
      transition: .1s

#delete-tasks-btn
  &:hover
    border-color: $red

  i
    color: $red

/* Container -> Task Container */
.task-container
  padding: 5px 10px 5px 5px
  width: 100%

/* Task Container -> Task Item */
.task-item
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 10px 20px
  margin: 15px 0
  width: 100%
  height: 40px
  background: $extra-light-gray
  border-radius: 5px
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px

.task-low-priority
  border-left: rgb(40, 205, 65) solid 3px

.task-medium-priority
  border-left: rgb(255, 204, 0) solid 3px

.task-high-priority
  border-left: rgb(255, 59, 48) solid 3px

/* Task Item -> Title & Checkbox */
.task-item-checkbox
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center 
  
  input[type='checkbox']
    display: block
    margin-right: 15px 
    min-width:15px
    min-height: 15px
    border-radius: 50%
    border: $primary-color solid 1px
    outline: none
    vertical-align: middle
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    cursor: pointer

    &:checked 
      -webkit-appearance: auto
      -moz-appearance: auto
      appearance: auto
      -webkit-clip-path: circle(50% at 50% 50%)
      clip-path: circle(50% at 50% 50%)
      background-color: $primary-color

  p
    margin: 0
    letter-spacing: 1px

.task-date-container
  font-family: 'Sono', sans-serif
  font-size: 12px
  border: $light-gray solid 2px
  border-radius: 5px
  padding: 5px 10px
  margin-left: auto
  margin-right: 20px

/* Task Item -> Task Item Btns */
.task-item-btns
  cursor: default

  button
    background: transparent
    border: none
    padding: 5px
    -webkit-transition: .2s
    -o-transition: .2s
    transition: .2s
    color: #9ca3af
    cursor: pointer

    i
      pointer-events: none

    &:focus
      outline: none

    &:hover
      scale: 1.2

    &:active
      scale: 1
      -webkit-transition: .1s
      -o-transition: .1s
      transition: .1s

  #delete-task
    color: #f87171

/* Styling Star When Marked */
.important
  color: #eab308

/* Styling finished tasks */
.finished
  p
    text-decoration: line-through
    color: $gray

/* Footer */    
.footer 
  background: $light-gray
  height: $footer-height
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  font-family: 'Sono', sans-serif
  padding: 5px

  p
    text-align: center
    font-weight: 500
    color: $black
  
  a 
    text-decoration: none
    font-weight: 700
    -webkit-transition: .4s
    -o-transition: .4s
    transition: .4s
    color: $primary-color

    &:hover
      font-size: 1.1rem
    &:visited 
      text-decoration: none
      color: $primary-color

/* Modal */  
#task-modal,
#project-modal,
#info-modal
  position: absolute
  top: 50%
  -webkit-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  left: 50%
  margin: 0
  padding: 15px 15px 30px
  width: 360px
  border: none
  border-radius: 15px
  background: $white
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 

  &::-webkit-backdrop
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(50, 50, 50, 0.5)
    -webkit-backdrop-filter: blur(5px)
    backdrop-filter: blur(5px)
    -webkit-animation: none
    animation: none

  &::backdrop
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(50, 50, 50, 0.5)
    -webkit-backdrop-filter: blur(5px)
    backdrop-filter: blur(5px)
    -webkit-animation: none
    animation: none

.task-modal-content,
.project-modal-content,
.info-modal-content
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 100%
  height: 100%

  h2
    margin-bottom: 20px

.info-modal-line 
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: start
  -ms-flex-pack: start
  justify-content: flex-start
  width: 100%
  padding: 0 15px
  
  p:first-of-type
    font-weight: 500
    margin-right: 10px
  
  p:nth-of-type(2)
    color: $dark-gray 

/* Modal -> Close Modal Button*/
.close-modal-btn-container
  width: 100%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: end
  -ms-flex-pack: end
  justify-content: flex-end

  button
    background: transparent
    border: none
    padding: 5px 10px
    -webkit-transform-origin: center
    -ms-transform-origin: center
    transform-origin: center
    -webkit-transition: .2s
    -o-transition: .2s
    transition: .2s
    font-size: 1.3rem
    color: $red
    cursor: pointer

    &:hover
      scale: 1.2
      -webkit-filter: brightness(1.1)
      filter: brightness(1.1)

      &:focus
        outline: none

      &:active 
        scale: 1

/* Modal -> New Task Form*/
/* Modal -> New Project Form*/
#task-form,
#project-form
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: space-evenly
  -ms-flex-pack: space-evenly
  justify-content: space-evenly
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 80%

  label, input, textarea, select
    width: 100%
    display: block    

  input, textarea, select
    line-height: 1.5rem
    border-radius: 5px
    border: $gray solid 1px
    padding: 5px
    margin-bottom: 5px

    &:focus
      outline: none
      
  label
    letter-spacing: 1px  
    margin-bottom: 5px  

  textarea
    resize: vertical

  button[type='submit']
    margin-top: 25px
    width: 140px
    height: 40px
    border-radius: 5px
    background: $white
    color: $primary-color
    border: $light-gray solid 1px
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
    font-weight: 500
    letter-spacing: 1px
    -webkit-transition: .2s
    -o-transition: .2s
    transition: .2s
    cursor: pointer

    &:focus 
      outline: none

    &:hover
      scale: 1.05
      
    &:active
      scale: 1
      -webkit-transition: .1s
      -o-transition: .1s
      transition: .1s 

@media (max-width: 860px)
  .main-container
    -ms-grid-column: 1
    -ms-grid-column-span: 12
    grid-column: 1 / 13

  .sidebar
    position: absolute
    -webkit-box-shadow: 5px 0 10px -2px $gray
    box-shadow: 5px 0 10px -2px $gray
    display: none

  .project-menu
    position: relative

  .project-popup-menu
    bottom: 20px
    left: -35px

  .hamburger-menu
    display: -webkit-box
    display: -ms-flexbox
    display: flex

@media (max-width: 620px)
  .task-date-container
    display: none

  .close-modal-btn-container
    button
      font-size: 1.5rem

@media (max-width: 420px)
  .footer
    font-size: 12px

  .sidebar
    width: 100vw

  .project-popup-menu
    scale: 1.2
    left: -50px
    bottom: 30px 